LibraryManager.Model/obj/project.assets.json
LibraryManager.Model/obj/LibraryManager.Model.csproj.nuget.g.props
LibraryManager.Model/LibraryManager.Model.csproj
LibraryManager.Model/obj/LibraryManager.Model.csproj.nuget.dgspec.json
LibraryManager.Model/obj/project.nuget.cache
LibraryManager.Model/obj/Debug/net8.0/LibraryManager.Model.AssemblyInfo.cs
LibraryManager.Model/obj/Debug/net8.0/LibraryManager.Model.assets.cache
LibraryManager.Model/obj/Debug/net8.0/LibraryManager.Model.AssemblyInfoInputs.cache
LibraryManager.Model/obj/Debug/net8.0/LibraryManager.Model.GeneratedMSBuildEditorConfig.editorconfig
